html {
    position: relative;
    height: 100%;
}

body {
    margin-bottom: 60px;
}

body > .container {
    padding-top: 75px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}
