html {
    position: relative;
    height: 100%;
}

main {
    min-height: 800px;
}

/* Cover Page */
.cover-page {
    color: white;
}

.cover-page main {
    padding-top: 75px;
}

.btn-cover,
.btn-cover:hover,
.btn-cover:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* Footer */
footer {
    font-size: 85%;
}

footer p {
    margin-bottom: 0;
}

footer a, footer a:visited {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer ul {
    padding-left: 0;
    margin-bottom: 1rem;
}

footer li {
    display: inline-block;
}

footer li+li {
    margin-left: 1rem;
}

/* Map */
.google-map {
    position: absolute;
    width: 100%;
    left: 0;
    height: 800px;
}

#map-view ul {
    display: none;
}

#map-view .new-pin {
    width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: #c6ccd2;
    border: 1px solid #6c757d;
    border-radius: 4px;
}