* {font-family: "futura-pt",sans-serif;}

h1.display-1, a.navbar-brand {font-weight: 700;}
nav a {font-weight: 500;}


html, body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}


main {
}

.breadcrumb {
    background-color: white;
}

label {
    font-weight: bold;
}

.checkbox label {
    font-weight: normal;
}

h4 {
    font-weight: 300;
}

.cover-page main {
    padding-top: 125px;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../img/nypl-cover-map.png");
    background-position: center; 
    color: white;
}

#detail-container p.lead {text-align: left;}

.cover-page p.lead {font-family: "adobe-garamond-pro",serif;}


.btn-cover,
.btn-cover:hover,
.btn-cover:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* Footer */
footer {
    font-size: 85%;
}

footer p {
    margin-bottom: 0;
}

footer a, footer a:visited {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer ul {
    padding-left: 0;
    margin-bottom: 1rem;
}

footer li {
    display: inline-block;
}

footer li+li {
    margin-left: 1rem;
}

/* Map View */
.map-view footer {
    display: none;
}

.map-space {
    position: absolute;
    top: 3.5rem;
    bottom: 0;
    width: 100%; 
}

.map-view .google-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%; 
    height: 100%; 
}

.map-view .search-bar {
    position: absolute;
    top: 0.625rem;
    left: 1vw;
    height: 3.125rem;
    width: 98vw;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    z-index: 1000;
}

.map-view .search-bar .input-group>.form-control {
    border: none;
}

.map-view .search-bar .btn:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.map-view .overlay-picker {
    position: absolute;
    z-index: 1000;
    margin-top: 10px;
    width: 75px;
    right: 85px;
}

.map-view .pin-place-detail .list-group {
    border: 0;
}

.map-view .pin-place-detail .list-group-item {
    border-left: 0;
    border-right: 0;
}

.map-view .pin-place-detail {
    position: absolute;
    width: 90vw;
    bottom: 0;
    left: 5vw;
    right: 5vw; 
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    z-index: 1050;
}

.map-view .search-results {
    font-size: .8em;
    padding: 0;
}

.map-view .search-results .list-group {
    overflow-y: scroll;
}

.pin-place-header .close {
    padding: 0.5rem;
    margin: -0.8rem -0.5rem 0 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.pin-place-thumbnail {
    display: none;
}

.pin-detail-tags {
    line-height: 1.3;
}

/* Detail View */
#edit-detail-container .google-map,
#detail-container .google-map {
    width: 100%;
    height: 250px;
}

#detail-container .site-thumbnails {
    height: 150px;
    width: 150px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#detail-container .site-thumbnails-add {
    border-style: dotted;
}

#detail-container .site-thumbnails-add a {
    top: 40%;
    left: 0;
    position: absolute;
    width: 100%;
}

#detail-container img {
    height: 150px;
    width: auto;
    max-width: none;
}

@media (min-width: 492px) {
    #edit-detail-container div#id_instructional_level,
    #edit-detail-container div#id_target_audience,
    #edit-detail-container div#id_category {
        -webkit-columns: 100px 2;
        -moz-columns: 100px 2;
        columns: 100px 2;
    }
}

@media (min-width: 768px) {
    #edit-detail-container div#id_instructional_level,
    #edit-detail-container div#id_target_audience,
    #edit-detail-container div#id_category {
        -webkit-columns: 100px 3;
        -moz-columns: 100px 3;
        columns: 100px 3;
    }
}

.archivalcollection-create .create-repository {
    margin-top: 1.9em;
}

.archivalcollection-create .google-map {
    width: 100%;
    height: 300px;
}

.archivalcollection-create .step {
    display: inline-block;
    padding: 6px 0px 0px 2px;
    background-color: #868e96;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 5px;
    color: white;
    font-weight: bold;
}

.archivalcollection-create .create-repository-form .card.is-invalid .invalid-feedback {
    display: block;
}

.archivalcollection-create .create-repository-form .card.is-invalid label {
    color: #dc3545;
}

/* EDTF component */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
}

.editable-edtf-container {
    border: 1px solid  #ced4da;
    padding: 10px;
    padding-left: 20px;
    border-radius: .25rem;
}

.editable-edtf label {
    font-weight: normal;
}

.editable-edtf col {
    padding: -10px;
}

.editable-edtf input {
    display: inline;
}

.editable-edtf .has-error {
    border-color: #ccc;
}

.editable-edtf .required {
    border: 1px solid #97421b !important;
    background-color: #f9f2f4;
}

.editable-edtf .millenium,
.editable-edtf .century,
.editable-edtf .decade,
.editable-edtf .year {
    width: 40px !important;
}

.editable-edtf .day1 {
    width: 40px;
    padding: .375rem .5rem;
}

.editable-edtf .traits {
    margin-top: -5px;
}

.editable-edtf .date-display {
    margin-top: 0;
    background-color: light-gray;
}

.editable-edtf .date-display .date-display-1 {
    font-weight: normal;
}

.editable-edtf .date-display .date-display-separator {
    font-weight: normal;
}

.editable-edtf ul li {
    margin-bottom: -1px !important;
}

.editable-edtf .alert {
    margin-top: 5px;
}

/* Search Page */
.page-number {
    width: 50px;
    display: inline;
    text-align: right;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .map-view .search-bar {
        left: 0.625rem;
        width: 25rem;
    }
    .pin-place-thumbnail {
        float: right;
        display: block;
        width: 5.7rem;
        height: 3rem;
        overflow: hidden;
    }
    .pin-place-thumbnail .thumbnail-bg {
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .map-view .pin-place-detail {
        border-top: 1px solid #ddd;
        width: 25rem;
        top: 4.5rem;
        left: 0.625rem;
        right: 0;
        bottom: auto;
    }
    .pin-place-header {
    }
    .pin-place-thumbnail {
        float: none;
        width: 100%;
        height: 10.5rem;
        background-color: #efefef;
        overflow: hidden;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Connection visualization */

circle {
    cursor: pointer;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.site-icon {
    width: 25px !important;
    height: 25px !important;
}

/* Archival Collections */
.search-card {
    border-color: #ced4da;
}

.search-card .card-header {
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    white-space: nowrap;
    background-color: #e9ecef;
    border-color: #ced4da;
}

.search-card .card-body {
    padding: 1rem;
}

a.search-repository-title {
    color: #212529;
}

input[name='decoy'],
p.decoy {
    display: none !important;
}
