html {
    position: relative;
    height: 100%;
}

main {
}

.breadcrumb {
    background-color: white;
}

label {
    font-weight: bold;
}

.checkbox label {
    font-weight: normal;
}

h4 {
    font-weight: 300;
}

/* Cover Page */
.cover-page {
    color: white;
}

.cover-page main {
    padding-top: 125px;
    width: 100vw;
    height: 90vh;
}

.btn-cover,
.btn-cover:hover,
.btn-cover:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* Footer */
footer {
    font-size: 85%;
}

footer p {
    margin-bottom: 0;
}

footer a, footer a:visited {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer ul {
    padding-left: 0;
    margin-bottom: 1rem;
}

footer li {
    display: inline-block;
}

footer li+li {
    margin-left: 1rem;
}

/* Map View */
.map-view .google-map {
    position: absolute;
    width: 100%;
    left: 0;
    height: 95vh;
}

.map-view #map-container ul {
    display: none;
}

.map-view .new-pin {
    padding: 15px;
    background-color: white;
    border: 1px solid #ced4da;
    border-top-width: 4px;
    width: 350px;
}

.map-view .address-bar {
    position: absolute;
    z-index: 2000;
    margin-left: 10px;
    margin-top: 10px;
    width: 350px;
}

.map-view .overlay-picker {
    position: absolute;
    z-index: 2000;
    margin-top: 10px;
    width: 75px;
    right: 85px;
}


/* Detail View */
#edit-detail-container .google-map,
#detail-container .google-map {
    width: 100%;
    height: 300px;
}

#detail-container .site-thumbnails {
    height: 150px;
    width: 150px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#detail-container .site-thumbnails-add {
    border-style: dotted;
}

#detail-container .site-thumbnails-add a {
    top: 40%;
    left: 0;
    position: absolute;
    width: 100%;
}

#detail-container img {
    height: 150px;
    width: auto;
    max-width: none;
}

@media (min-width: 492px) {
    #edit-detail-container div#id_instructional_level,
    #edit-detail-container div#id_target_audience,
    #edit-detail-container div#id_category {
        -webkit-columns: 100px 2;
        -moz-columns: 100px 2;
        columns: 100px 2;
    }
}

@media (min-width: 768px) {
    #edit-detail-container div#id_instructional_level,
    #edit-detail-container div#id_target_audience,
    #edit-detail-container div#id_category {
        -webkit-columns: 100px 3;
        -moz-columns: 100px 3;
        columns: 100px 3;
    }
}

.archivalcollection-create .create-repository {
    margin-top: 1.9em;
}

.archivalcollection-create .google-map {
    width: 100%;
    height: 300px;
}

.archivalcollection-create .step {
    display: inline-block;
    padding: 6px 0px 0px 2px;
    background-color: #868e96;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 5px;
    color: white;
    font-weight: bold;
}

.archivalcollection-create .create-repository-form .card.is-invalid .invalid-feedback {
    display: block;
}

.archivalcollection-create .create-repository-form .card.is-invalid label {
    color: #dc3545;
}

/* EDTF component */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
}

.editable-edtf-container {
    border: 1px solid  #ced4da;
    padding: 10px;
    padding-left: 20px;
    border-radius: .25rem;
}

.editable-edtf label {
    font-weight: normal;
}

.editable-edtf col {
    padding: -10px;
}

.editable-edtf input {
    display: inline;
}

.editable-edtf .has-error {
    border-color: #ccc;
}

.editable-edtf .required {
    border: 1px solid #97421b !important;
    background-color: #f9f2f4;
}

.editable-edtf .millenium,
.editable-edtf .century,
.editable-edtf .decade,
.editable-edtf .year {
    width: 40px !important;
}

.editable-edtf .day1 {
    width: 40px;
    padding: .375rem .5rem;
}

.editable-edtf .traits {
    margin-top: -5px;
}

.editable-edtf .date-display {
    margin-top: 0;
    background-color: light-gray;
}

.editable-edtf .date-display .date-display-1 {
    font-weight: normal;
}

.editable-edtf .date-display .date-display-separator {
    font-weight: normal;
}

.editable-edtf ul li {
    margin-bottom: -1px !important;
}

.editable-edtf .alert {
    margin-top: 5px;
}

/* Search Page */
.page-number {
    width: 50px;
    display: inline;
    text-align: right;
}
