{% extends 'base.html' %}

{% block title %}{{object.title}}{% endblock %}

{% block client_templates %}
    <meta name="csrf-token" content="{{csrf_token}}">
    {% include "main/client/minimal_map_template.html" %}
{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="//maps.google.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}&libraries=places"></script>

    <script 
        data-main="{{STATIC_URL}}js/src/detail.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pb-0">
            <li class="breadcrumb-item"><a class="text-secondary" href="{% url 'archival-collections' %}">Archives</a></li>
            <li class="breadcrumb-item">{{object.collection_title}}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
<div id="detail-container" data-id="{{object.id}}" class="mb-5">
    <div class="pt-5 pb-2 text-center">
        <h2>
            <i class="fa fa-archive" aria-hidden="true"></i> {{object.collection_title}}
        </h2>
        <h4 class="text-muted">
            {{object.repository.title}}
        </h4>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <h4 class="mb-3 text-muted">Details</h4>

            <dl class="row ml-3">
                {% if object.inclusive_start or object.inclusive_end %}
                    <dt class="col-sm-6">
                        Inclusive Dates
                    </dt>
                    <dd class="col-sm-6">
                        {% with inclusive_start=object.inclusive_start inclusive_end=object.inclusive_end %}
                        {% if inclusive_start %}
                            {{inclusive_start}} - {% if inclusive_end %}{{inclusive_end}}{% else %}present{% endif %}
                        {% else %}{% if inclusive_end %}
                            ? - {{inclusive_end}}
                        {% endif %}{% endif %}
                        {% endwith %}
                    </dd>
                {% endif %}
                {% if object.linear_feet %}
                    <dt class="col-sm-6">
                        Linear Feet
                    </dt>
                    <dd class="col-sm-6">
                        {{object.linear_feet}}
                    </dd>
                {% endif %}
                {% if object.finding_aid_url %}
                    <dt class="col-sm-6">
                        Finding Aid Url
                    </dt>
                    <dd class="col-sm-6">
                        <a href="{{object.finding_aid_url}}">Direct Link</a>
                    </dd>
                {% endif %}
            </dl>

            {% if object.description %}
                <p>{{object.description}}</p>
            {% endif %}

            {% if object.learning_sites.count > 0 %}
                <h4 class="mb-3 mt-5 text-muted">Sites of Teaching &amp; Learning</h4>
                <p>These sites of teaching &amp; learning mention the {{object.collection_title}}</p>
                {% for site in object.learning_sites.all %}
                    <div class="mb-1">
                        <a href="{% url 'site-detail-view' site.id %}">
                            <img class="site-icon" src="{{STATIC_URL}}png/pin-{{site.category.first.group}}.png" />
                            {{site}}
                        </a>
                    </div>
                {% endfor %}
           {% endif %}

           {% if object.repository.archivalcollection_set.count > 0 %}
                <h4 class="mb-3 mt-5 text-muted">Repository</h4>
                <p>Other collections at <strong>{{object.repository.title}}</strong>. <a href="{% url 'archival-collections' %}">View all collections</a></p>

                <ul class="list-group">
                {% for collection in object.repository.archivalcollection_set.all %}
                    <li class="list-group-item mb-2 border-left-0 border-right-0 border-top-0">
                        <div class="row no-gutters">
                            <div class="col-md-1 text-secondary">
                                <h1><i class="fa fa-archive" aria-hidden="true"></i></h1>
                            </div>
                            <div class="col-md-11 pl-3">
                                <div><a href="{% url 'collection-detail-view' collection.id %}">
                                    {{collection.collection_title}}</a>
                                </div>
                                <div>
                                {% with start=collection.inclusive_start end=collection.inclusive_end %}
                                {% if start %}
                                    {{start}} - {% if end %}{{end}}{% else %}present{% endif %}
                                {% else %}{% if end %}
                                    ? - {{end}}
                                {% endif %}
                                {% endif %}
                                {% endwith %}
                                </div>
                                <div>Sites of Teaching &amp; Learning <span class="badge badge-pill badge-secondary">{{collection.learning_sites.count}}</span></div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if is_editor %}
                <div class="mb-4">
                <a class="float-right text-secondary mr-4" href="{% url 'collection-edit-view' object.id %}">
                    <small><i class="fa fa-pencil" aria-hidden="true"></i> Edit</small>
                </a>
                </div>
            {% endif %}
            <div class="clearfix"></div>
            <h4 class="mb-3 text-muted">Location</h4>
            <div id="map-container" class="ml-3">
                <google-mini-map
                    latitude="{{object.repository.place.latitude}}"
                    longitude="{{object.repository.place.longitude}}" 
                    icon="archive"/>
            </div>
            <ul class="list-group ml-3">
                <li class="list-group-item">
                    <div>{{object.repository.title}}</div>
                    <div>{{object.repository.place.title}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
