{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block mainclass %}container-fluid m-0 p-0{% endblock %}

{% block content %}



<section class="pane-splash py-3 py-lg-5">
    <div class="row container mx-auto p-0">
        <div class="pane-intro col-lg p-2 p-sm-3 p-md-4">
            <div class="intro-logo pb-1 mb-2 mb-md-3">
                <img src="{{STATIC_URL}}img/logo_writlarge.svg" class="py-1">
                <h3 class="text-center">New York City’s Educational Past<br />from the Ground Up</h3>
            </div>
            <p>
                Writ Large contributes to a comprehensive understanding of New York City’s educational past by locating formal and informal sites of teaching and learning in neighborhoods across time and to identify archival resources in New York City repositories, and elsewhere), to document that history.
            </p>
            <p>
                This site is designed to document the multiple settings in which diverse New Yorkers learned and capture the reciprocal relationship between education and the transformation of the city.
            </p>
        </div><!-- /.pane-intro -->
        <div class="pane-slides col-lg p-0">
            <ul class="nav" id="slideContentTab" role="tablist">
                <li class="nav-item w-50 px-5">
                    <a class="nav-link active show" id="slide-map-tab" data-toggle="tab" href="#slide-map" role="tab" aria-controls="slide-map" aria-selected="true">Map</a>
                </li>
                <li class="nav-item w-50 px-5">
                    <a class="nav-link" id="slide-archives-tab" data-toggle="tab" href="#slide-archives" role="tab" aria-controls="slide-archives" aria-selected="false">Archives</a>
                </li>
            </ul><!-- /#slideContentTab -->
            <div class="tab-content" id="slideContent">
                <div class="tab-pane fade show active" id="slide-map" role="tabpanel" aria-labelledby="slide-map-tab">
                    <div class="slide-image">
                        <img src="{{STATIC_URL}}img/slide-map.jpg" class="w-100">
                    </div>
                    <div class="slide-caption p-3 py-4">
                        <p>
                        Some short description here on what the map is about. The language should be direct, and invitational. The length of this description should be about thirty words.
                        </p>
                        <a href="{% url 'map-view' %}" class="slide-link btn btn-default d-inline-block">
                        <i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i>
                        Go to Writ Large Map
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade" id="slide-archives" role="tabpanel" aria-labelledby="slide-archives-tab">
                    <div class="slide-image">
                        <img src="{{STATIC_URL}}img/slide-archives.jpg" class="w-100">
                    </div>
                    <div class="slide-caption p-3 py-4">
                        <p>
                        Some short description here on what the map is about. The language should be direct, and invitational. The length of this description should be about thirty words.
                        </p>
                        <a href="{% url 'map-view' %}" class="slide-link btn btn-default d-inline-block">
                        <i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i>
                        Go to Writ Large Map
                        </a>
                    </div>
                </div>
            </div><!-- /#slideContent -->
        </div><!-- /.pane-slides -->
    </div><!-- /.row .container -->
<h2 class="d-none d-xl-block text-white text-center bg-primary">I am: Extra large desktop</h2>
<h2 class="d-none d-lg-block d-xl-none text-white text-center bg-primary">I am: Large desktop</h2>
<h2 class="d-none d-md-block d-lg-none text-white text-center bg-primary">I am: Medium desktop, tablet</h2>
<h2 class="d-none d-sm-block d-md-none text-white text-center bg-primary">I am: Small devices</h2>
<h2 class="d-block d-sm-none text-white text-center bg-primary">I am: Extra small devices</h2>
</section><!-- /.pane-splash -->



<!-- 
<section class="pane-exemplars py-5">
    <div class="container mx-auto pb-3">
    <h2 class="text-center">STL Exemplars</h2>
    <p class="text-center">Here are example sites of teaching and learning in Writ Large. Click to see the record.</p>
    <div class="cover-exemplar">
        <ul class="h-100 w-100 position-absolute">
            <li class="exemplar-label exemplar01"><a href="https://writlarge.ctl.columbia.edu/view/93/">New York Public Library-Riverside</a></li>
            <li class="exemplar-label exemplar02"><a href="https://writlarge.ctl.columbia.edu/view/23/">Hudson Guild</a></li>
        </ul>
        <img src="{{STATIC_URL}}img/exemplars_map.jpg" class="d-block border border-secondary w-100">
    </div>
    </div>


</section><!~~ /.pane-exemplars ~~>
 -->

<div class="pane-moreinfo py-5">
    <div class="container">
        <h2 class="text-center">Connect with Writ Large</h2>
        <ul class="nav py-3">
            <li class="nav-item"><a href="{% url 'collection-suggest-view' %}" class="nav-link">Suggest a Collection</a></li>
            <li class="nav-item"><a href="/contact/" class="nav-link">Contact Us</a></li>
            <li class="nav-item"><a href="/about/" class="nav-link">About Writ Large</a></li>
        </ul>
    </div>
</div><!-- /.pane-moreinfo -->




{% endblock %}
