{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Edit Place{% endblock %}

{% block content %}
<div class="py-5 text-center">
    <h2>
        {{parent.title}}
    </h2>
    <h3 class="text-muted">Add Photo</h3>
</div>

<div class="row">
    <div class="col-md-12 order-md-1">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <hr class="mb-4">
            <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
        </form>
    </div>
</div>
{% endblock %}