{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Edit Details{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pb-0">
            <li class="breadcrumb-item"><a class="text-secondary" href="{% url 'site-detail-view' object.id %}">{{object.title}}</a></li>
            <li class="breadcrumb-item">Edit Details</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

<div class="pb-2 text-center">
    <h2>
        {{object.title}}
    </h2>
    <h4 class="text-muted">Edit Details</h4>
</div>

<div class="row">
    <div class="col-md-12 order-md-1">
        <form action="." method="post">{% csrf_token %}
            {% bootstrap_form form %}
            <hr class="mb-4">
            <button type="submit" class="btn btn-primary btn-block mb-2">Save</button>
            <a class="btn btn-secondary btn-block mb-4" href="{% url 'site-detail-view' object.id %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}