{% extends 'base.html' %}

{% block title %}Learning Site{% endblock %}

{% block client_templates %}
<meta name="csrf-token" content="{{csrf_token}}">
    {% verbatim %}
    <script type="text/x-template" id="google-mini-map-template">
        <div class="card mb-5">
            <div class="google-map" :id="mapName"></div>
            <div class="card-body">
            <p class="card-text text-left">{{address}}</p>
            </div>
        </div>
    </script>
    {% endverbatim %}
{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="//maps.google.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}&libraries=places"></script>

    <script 
        data-main="{{STATIC_URL}}js/src/detail.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}

{% block content %}
<div id="detail-container" data-id="{{object.id}}">
    <div class="pt-5 pb-2 text-center">
        <h2>
            {{object.title}}
        </h2>
        {% if object.established %}
            <h4 class="text-muted">
                {{object.established|date:"Y"}} - {% if object.defunct %}{{object.defunct|date:"Y"}}{% else %}present{% endif %}
            </h4>
        {% endif %}
        {% if object.description %}
            <p class="lead">{{object.description}}</p>
        {% endif %}
    </div>

    <div class="mb-5 text-center">
        {% for d in object.digital_object.all|slice:":5" %}
        <div class="site-thumbnails">
            <img src="{{d.file.url}}" alt="{{d.description}}" />
        </div>
        {% endfor %}
        {% if object.digital_object.count < 1 and is_editor %}
                <a class="btn btn-block btn-light" href="{% url 'digital-object-create-view' object.id %}"><i class="fa fa-plus" aria-hidden="true"></i> Add Photo</a>
        {% else %}
            <a class="text-secondary d-block" href="{% url 'site-gallery-view' object.id %}">
                <i class="fa fa-camera text-secondary form-check-input" aria-hidden="true"></i> 
                View Gallery
            </a>
        {% endif %}
        <hr />
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="mb-3 text-muted">Places</h4>
            <div class="w-100 text-center">
                <div id="map-container">
                    <google-mini-map placeid="{{object.id}}" readonly="true" />
                </div>
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3 text-muted">Details</h4>
            <dl class="row">
                <dt class="col-sm-3">
                {% if object.category.count > 1 %}
                    Categories
                {% else %}
                    Category
                {% endif %}
                </dt>
                <dd class="col-sm-8">
                    {% for category in object.category.all %}
                        <a href='#'>{{category}}</a>
                    {% endfor %}
                </dd>
                {% if objects.tags.count > 0 %}
                <dt class="col-sm-3">
                    Tags
                </dt>
                <dd class="col-sm-8">
                    {% for tag in object.tags.all %}
                        <a href='#'>{{tag}}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </dd>
                {% endif %}

                <dt class="col-sm-3">
                    Instructional Level
                </dt>
                <dd class="col-sm-8">
                    {{object.instructional_level}}
                </dd>

                <dt class="col-sm-3">
                    Founders
                </dt>
                <dd class="col-sm-8">
                    {{object.founder}}
                </dd>

                {% if object.notes %}
                    <dt class="col-sm-3">
                        Notes
                    </dt>
                    <dd class="col-sm-8">
                        {{object.notes}}
                    </dd>
                {% endif %}
            </dl>
            {% if is_editor %}
                <a href="{% url 'site-update-view' object.id %}" class="btn btn-light btn-block mt-2">
                    <i class="fa fa-pencil text-secondary form-check-input" aria-hidden="true"></i> Edit Details
                </a>
            {% endif %}

            <h4 class="mb-3 mt-5 text-muted">Archival Resources</h4>
            <ul class="list-group">
            {% for collection in object.archivalcollection_set.all %}
                <li class="list-group-item pl-5 mb-2">
                    {% if is_editor %}
                    <a class="float-right text-secondary"
                        href="{% url 'collection-delete-view' object.id collection.id %}">
                        <small><i class="fa fa-trash" aria-hidden="true"></i> Delete</small>
                    </a>

                    <a class="float-right text-secondary mr-4"
                        href="{% url 'collection-unlink-view' object.id collection.id %}">
                        <small><i class="fa fa-chain-broken" aria-hidden="true"></i> Remove</small>
                    </a>
                    <a class="float-right text-secondary mr-4" href="{% url 'collection-edit-view' object.id collection.id %}">
                        <small><i class="fa fa-pencil" aria-hidden="true"></i> Edit</small>
                    </a>
                    {% endif %}
                    <div class="row">
                        <div class="col-md2 text-secondary">
                            <h1><i class="fa fa-archive" aria-hidden="true"></i></h1>
                        </div>
                        <div class="col-md10 pl-3">
                            <div>{{collection.title}}</div>
                            <div>{{collection.repository.title}}</div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            {% if is_editor %}
                <a href="{% url 'collection-link-view' object.id %}" class="btn btn-light btn-block mt-2 mb-3">
                    <i class="fa fa-plus text-secondary form-check-input" aria-hidden="true"></i> Add Collection
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

