{% extends 'base.html' %}
{% load writlargetags %}

{% block title %}{{object.title}}{% endblock %}

{% block client_templates %}
    <meta name="csrf-token" content="{{csrf_token}}">
    {% include "main/client/minimal_map_template.html" %}
    {% include "main/client/family_network.html" %}
{% endblock %}

{% block js %}
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script type="text/javascript"
        src="//maps.google.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}&libraries=places"></script>

    <script 
        data-main="{{STATIC_URL}}js/src/detail.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}

{% block content %}
<div id="detail-container" data-id="{{object.id}}">
    <div class="pt-5 pb-2 text-center">
        <h2>
            {{object.title}}
        </h2>
        {% display_date_range object.established object.is_defunct object.defunct as dt%}
        {% if dt != '? - ?' %}
        <h4>
            <h4 class="text-muted">{{dt}}</h4>
        </h4>
        {% endif %}
    </div>

    <div class="mb-3 text-center">
        {% for d in object.digital_object.all|slice:":5" %}
        <div class="site-thumbnails">
            <img src="{{d.get_url}}" alt="{{d.description}}" />
        </div>
        {% endfor %}
        {% if object.digital_object.count < 1 and is_editor %}
                <a class="btn btn-block btn-light" href="{% url 'digital-object-create-view' object.id %}"><i class="fa fa-plus" aria-hidden="true"></i> Add Photo</a>
        {% else %}
            <a class="text-secondary d-block" href="{% url 'site-gallery-view' object.id %}">
                <i class="fa fa-camera text-secondary form-check-input" aria-hidden="true"></i> 
                View Gallery
            </a>
        {% endif %}
        <hr />
    </div>

    <div class="row">
        <div class="col-md-8">
            <h4 class="mb-3 text-muted">Details</h4>
            <dl class="row">
                <dt class="col-sm-3">
                {% if object.category.count > 1 %}
                    Categories
                {% else %}
                    Category
                {% endif %}
                </dt>
                <dd class="col-sm-8">
                    {% for category in object.category.all %}
                        {{category}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </dd>

                {% if object.instructional_level.count > 0 %}
                <dt class="col-sm-3">
                    Instructional Level
                </dt>
                <dd class="col-sm-8">
                    {% for level in object.instructional_level.all %}
                        {{level}}{% if not forloop.last %}, {% endif %}
                    {% endfor %} 
                </dd>
                {% endif %}
                
                {% if object.target_audience.count > 0 %}
                <dt class="col-sm-3">
                    Audience
                </dt>
                <dd class="col-sm-8">
                    {% for audience in object.target_audience.all %}
                        {{audience}}{% if not forloop.last %}, {% endif %}
                    {% endfor %} 
                </dd>
                {% endif %}

                {% if object.founder %}
                <dt class="col-sm-3">
                    Founder(s)
                </dt>
                <dd class="col-sm-8">
                    {{object.founder}}
                </dd>
                {% endif %}

                {% if object.corporate_body %}
                <dt class="col-sm-3">
                    Corporate Body
                </dt>
                <dd class="col-sm-8">
                    {{object.corporate_body}}
                </dd>
                {% endif %}

                {% if object.tags.count > 0 %}
                <dt class="col-sm-3">
                    Tags
                </dt>
                <dd class="col-sm-8">
                    {% for tag in object.tags.all %}
                        {{tag}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </dd>
                {% endif %}

                {% if object.notes %}
                    <dt class="col-sm-3">
                        Notes
                    </dt>
                    <dd class="col-sm-8">
                        {{object.notes}}
                    </dd>
                {% endif %}
            </dl>
            {% if is_editor %}
                <a href="{% url 'site-update-view' object.id %}" class="btn btn-light btn-block mt-2">
                    <i class="fa fa-pencil text-secondary form-check-input" aria-hidden="true"></i> Edit Details
                </a>
            {% endif %}

            {% if object.has_connections or is_editor %}
                <h4 class="mb-3 mt-5 text-muted">Connections</h4>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#family-graph" role="tab" aria-controls="connection graph" aria-selected="true">Visualization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#family-list" role="tab" aria-controls="connection list" aria-selected="false">List</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="family-graph" role="tabpanel" aria-labelledby="connection graph">
                        <div class="w-100 text-center">
                            <family-network siteid="{{object.id}}" />
                        </div>
                    </div>
                    <div class="tab-pane fade" id="family-list" role="tabpanel" aria-labelledby="connection list">
                        <div class="w-100">
                            <ul class="list-group">
                            {% for site in object.associates %}
                                <li class="list-group-item">
                                    {% if is_editor %}
                                    <a class="float-right text-secondary"
                                        href="{% url 'connection-delete-view' object.id 'associate' site.id %}">
                                        <small><i class="fa fa-chain-broken" aria-hidden="true"></i> Remove</small>
                                    </a>
                                    {% endif %}
                                    <img src="{{STATIC_URL}}png/pin-{{site.category.first}}.png" class="site-icon" /> <a href="{% url 'site-detail-view' site.id %}">{{site.title}}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% if is_editor %}
                    <a href="{% url 'connection-add-view' object.id %}" class="btn btn-light btn-block mt-2">
                        <i class="fa fa-chain text-secondary form-check-input" aria-hidden="true"></i> Add Connection
                    </a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-4 mb-4">
            <h4 class="mb-3 text-muted">Location</h4>
            <div class="w-100 text-center">
                <div id="map-container">
                    <google-mini-map
                        siteid="{{object.id}}"
                        icon="{{object.category.first.group|default:'other'}}" />
                </div>
                <ul class="list-group">
                {% for place in object.places_by_start_date %}
                    <li class="list-group-item">
                        {% if is_editor %}
                        <div class="row">
                            <div class="col-md-12">
                                {% if forloop.counter > 1 %}
                                <a class="float-right text-secondary ml-4"
                                    href="{% url 'place-delete-view' object.id place.id %}">
                                    <small><i class="fa fa-trash" aria-hidden="true"></i> Delete</small>
                                </a>
                                {% endif %}
                                <a class="float-right text-secondary" href="{% url 'place-edit-view' object.id place.id %}">
                                    <small><i class="fa fa-pencil" aria-hidden="true"></i> Edit</small>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row no-gutters text-left">
                            <div class="col">
                                <div>{{place.title}}</div>
                                <div class="small text-muted">
                                    {% display_date_range place.start_date place.is_ended place.end_date %}
                                </div>
                            </div>
                        </div>
                     </li>
                {% endfor %}
                </ul>
            </div>

            {% if is_editor %}
            <a href="{% url 'place-add-view' object.id %}" class="btn btn-light btn-block mt-2">
                <i class="fa fa-plus text-secondary form-check-input" aria-hidden="true"></i> Add Place
            </a>
            {% endif %}

        </div>
    </div>

    {% if object.archivalcollection_set.length > 0 or is_editor %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-3 mt-5 text-muted">Archival Collections</h4>
            <ul class="list-group">
            {% for collection in object.archivalcollection_set.all %}
                <li class="list-group-item mb-2">
                    {% if is_editor %}
                    <div class="row">
                    <div class="col-md-12">
                    <a class="float-right text-secondary"
                        href="{% url 'collection-delete-view' object.id collection.id %}">
                        <small><i class="fa fa-trash" aria-hidden="true"></i> Delete</small>
                    </a>

                    <a class="float-right text-secondary mr-4"
                        href="{% url 'collection-unlink-view' object.id collection.id %}">
                        <small><i class="fa fa-chain-broken" aria-hidden="true"></i> Remove</small>
                    </a>
                    <a class="float-right text-secondary mr-4" href="{% url 'collection-edit-view' object.id collection.id %}">
                        <small><i class="fa fa-pencil" aria-hidden="true"></i> Edit</small>
                    </a>
                    </div>
                    </div>
                    {% endif %}
                    <div class="row no-gutters">
                        <div class="col-md-1 text-secondary">
                            <h1><i class="fa fa-archive" aria-hidden="true"></i></h1>
                        </div>
                        <div class="col-md-11 pl-3">
                            <div><a href="{% url 'collection-detail-view' collection.id %}">
                                {{collection.collection_title}}</a>
                            </div>
                            <div>
                            {% with start=collection.inclusive_start end=collection.inclusive_end %}
                            {% if start %}
                                {{start}} - {% if end %}{{end}}{% else %}present{% endif %}
                            {% else %}{% if end %}
                                ? - {{end}}
                            {% endif %}
                            {% endif %}
                            {% endwith %}
                            </div>
                            <div>at {{collection.repository.title}}</div>
                            <div>Sites of Teaching &amp; Learning <span class="badge badge-pill badge-secondary">{{collection.learning_sites.count}}</span></div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            {% if is_editor %}
                <a href="{% url 'collection-link-view' object.id %}" class="btn btn-light btn-block mt-2 mb-3">
                    <i class="fa fa-plus text-secondary form-check-input" aria-hidden="true"></i> Add Collection
                </a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if object.footnotes.count > 0 or is_editor %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-3 mt-5 text-muted">References</h4>
            <ol class="list-group list-group-flush footnotes">
            {% for footnote in object.footnotes.all %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-10">
                            {{footnote}}
                        </div>
                        <div class="col-md-2">
                            {% if is_editor %}
                            <a class="float-right text-secondary"
                                href="{% url 'footnote-delete-view' object.id footnote.id %}">
                                <small><i class="fa fa-trash" aria-hidden="true"></i> Delete</small>
                            </a>
                            <a class="float-right text-secondary mr-4" href="{% url 'footnote-edit-view' object.id footnote.id %}">
                                <small><i class="fa fa-pencil" aria-hidden="true"></i> Edit</small>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
            {% if is_editor %}
                <a href="{% url 'footnote-create-view' object.id %}" class="btn btn-light btn-block mt-2 mb-3">
                    <i class="fa fa-plus text-secondary form-check-input" aria-hidden="true"></i> Add Reference
                </a>
            {% endif %}
            </ol>
        </div>
    </div>
    {% endif %}
    {% if is_editor %}
        {% if request.user.is_staff or object.created_by == request.user %}
        <h4 class="mb-3 mt-5 text-muted">Manage</h4>
        <a href="{% url 'site-delete-view' object.id %}" class="btn btn-danger mt-2 mb-3">
            <i class="fa fa-trashcan" aria-hidden="true"></i> Delete {{object.title}}
        </a>
        {% endif %}
    {% endif %}

 </div>
{% endblock %}

    