{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Edit Details{% endblock %}

{% block client_templates %}
    <meta name="csrf-token" content="{{csrf_token}}">
    {% include "main/client/edtf_template.html" %}
{% endblock %}

{% block js %}
    <script
        data-main="{{STATIC_URL}}js/src/editDetail.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pb-0">
            <li class="breadcrumb-item">
                <a class="text-secondary" href="{% url 'site-detail-view' object.id %}">
                    {{object.title}}
                </a>
            </li>
            <li class="breadcrumb-item">Edit Details</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

<div class="pb-2 text-center">
    <h2>
        {{object.title}}
    </h2>
    <h4 class="text-muted">Edit Details</h4>
</div>

<div id="edit-detail-container" class="row">
    <div class="col-md-12 order-md-1">
        <form action="." method="post">{% csrf_token %}
            {% bootstrap_field form.title %}
            {% bootstrap_field form.description %}

            {% bootstrap_field form.established %}
            <div class="form-group">
                <label for="id_established">Established</label>
                <edtf id="edtf-established" name="established" {% if form.established.errors %}errors="1"{% endif %} />
            </div>

            {% bootstrap_field form.defunct %}
            <div class="form-group">
                <label for="id_defunct">Defunct</label>
                <edtf id="edtf-defunct" name="defunct" {% if form.defunct.errors %}errors="1"{% endif %}/>
            </div>

            {% bootstrap_field form.category %}
            {% bootstrap_field form.instructional_level %}
            {% bootstrap_field form.target_audience %}

            {% bootstrap_field form.founder %}
            {% bootstrap_field form.notes %}
            {% bootstrap_field form.tags %}
            <hr class="mb-4">
            <button type="submit" class="btn btn-primary btn-block mb-2">Save</button>
            <a class="btn btn-secondary btn-block mb-4" href="{% url 'site-detail-view' object.id %}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}