{% extends 'base.html' %}

{% block title %}Map{% endblock %}
{% block bodyclass %}map-view{% endblock %}
{% block mainclass %}container-fluid pl-0 pr-0 pb-0{% endblock %}

{% block client_templates %}
    <meta name="csrf-token" content="{{csrf_token}}">
    {% include "main/client/map_template.html" %}
{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="//maps.google.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}&libraries=places"></script>

    <script 
        data-main="{{STATIC_URL}}js/src/map.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}


{% block content %}
    <div id="map-container">
        <google-map readonly="{% if is_editor %}false{% else %}true{% endif %}" showplaces="true" />
    </div>
{% endblock %}
