{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block data-module %}map{% endblock %}

{% block client_templates %}
{% verbatim %}
<script type="text/x-template" id="google-map-template">
    <div>
        <div class="google-map" :id="mapName"></div>
        <ul>
            <li v-for="site in sites">
                {{site.title}} ({{site.latitude}}, {{site.longitude}})
            </li>
        </ul>
    </div>
</script>
{% endverbatim %}
{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="//maps.google.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}&libraries=places"></script>

    <script 
        data-main="{{STATIC_URL}}js/src/map.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}


{% block content %}
    <div id="map-view">
        <google-map />
    </div>
{% endblock %}
