{% extends 'base.html' %}

{% block title %}Map{% endblock %}
{% block bodyclass %}map-view{% endblock %}
{% block mainclass %}container-fluid pl-0 pr-0 pb-0{% endblock %}

{% block client_templates %}
<meta name="csrf-token" content="{{csrf_token}}">
{% verbatim %}
<script type="text/x-template" id="google-map-template">
    <div>
        <div class="address-bar">
            <div class="input-group">
                <input type="text" v-model="address"
                    class="form-control form-control w-25"
                    placeholder="Address"
                    aria-label="Enter an address" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button"
                        v-on:click="geocode"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="google-map" :id="mapName"></div>
        <div v-if="newPin" class="row">
            <div class="col-12">
                <div class="new-pin fixed-bottom mx-auto d-block">
                    <form>
                        <div class="form-group">
                            <label for="title">Give this location a name:</label>
                            <input v-model="newTitle" class="form-control form-control-sm" type="text">
                        </div>
                        <div class="form-group">
                            <label for="type">Select a type for this location:</label>
                            <select v-model="newType" name="type" class="form-control form-control-sm">
                                <option value="site">Site of Teaching & Learning</option>
                                <option value="repository">Archival Repository</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="w-100 btn btn-sm btn-secondary"
                                    v-on:click.stop.prevent="removeNewPin">Cancel</button>
                            </div>
                            <div class="col">
                                <button class="w-100 btn btn-sm btn-secondary"
                                    v-on:click.stop.prevent="savePin">Save</button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix" />
                </div>
            </div>
        </div>
        <ul>
            <li v-for="site in sites">{{site.title}} ({{site.latitude}},
                {{site.longitude}})</li>
        </ul>
    </div>
</script>
{% endverbatim %}
{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="//maps.google.com/maps/api/js?key={{settings.GOOGLE_MAP_API}}&libraries=places"></script>

    <script 
        data-main="{{STATIC_URL}}js/src/map.js"
        src="{{STATIC_URL}}js/lib/require/require.js"></script>
{% endblock %}


{% block content %}
    <div id="map-container">
        <google-map />
    </div>
{% endblock %}
