{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools-items %}
    {{ block.super }}
    {% if original %}
    <li>
        <form method="post" action="/admin/main/archivalcollectionsuggestion/">
            {% csrf_token %}
            <input type="hidden" name="action" value="convert_suggested_collection" />
            <input type="hidden" name="_selected_action" value="{{original.pk}}" />
            <input type="hidden" name="select_across" value="0" class="select-across">
            <button type="submit" class="button" style="padding: 5px; margin-top: -2px;" title="{% trans "Convert to Archival Collection" %}" name="index" value="0">{% trans "Convert to Archival Collection" %}</button>
        </form>
    </li>
    {% endif %}
{% endblock %}
