{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{{STATIC_URL}}js/lib/bootstrap/css/bootstrap.min.css">
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
</head>
<body class="lti-landing-page bg-dark" style="color: white">
    <main role="main" class="container-fluid">
        <div class="row justify-content-md-center pt-5">
            <div class="col-md-auto text-center">
                <h1>Writ Large</h1>
                <p>Discover the Hidden Histories of New York City’s Teaching and Learning Communities</p>
                <a class="btn btn-cover btn-lg btn-launch" href="{{landing_url}}" target="_blank">Get Started</a>
            </div>
        </div>
    </main>
</body>
</html>
