{% verbatim %}
<script type="text/x-template" id="google-map-template">
    <div>
        <div class="search-bar">
            <div class="input-group">
                <input type="text" v-model="searchTerm"
                    class="form-control form-control w-25"
                    placeholder="Search by name or address"
                    aria-label="Search by name or address" aria-describedby="basic-addon2"
                    v-on:keydown.enter.prevent="search">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button"
                        v-on:click="search"><i class="fa fa-search"></i>
                    </button>
                    <button v-if="searchTerm" class="btn btn-light btn-clear-search text-muted" type="button"
                        v-on:click.prevent="clearAll">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="overlay-picker">
            <div class="btn-group" role="group">
            <button id="overlays" type="button" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{year}}
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#" data-id="864" v-on:click="changeOverlay">1885</a>
                <a class="dropdown-item" href="#" data-id="1090" v-on:click="changeOverlay">1891</a>
                <a class="dropdown-item" href="#" data-id="871" v-on:click="changeOverlay">1911</a>
                <a class="dropdown-item" href="#" data-id="862" v-on:click="changeOverlay">1916</a>
                <a class="dropdown-item" href="#" data-id="1453" v-on:click="changeOverlay">1956</a>
                <a class="dropdown-item" href="#" data-id="Present" v-on:click="changeOverlay">Present</a>
                <hr class="mb-2" />
                <p class="text-muted text-center small mb-0">Please be patient as <br /> map tiles load.</p>
            </div>
            </div>
        </div>
        <div class="google-map" :id="mapName"></div>
        <div v-if="selectedSite" class="pin-place-detail">
            <div v-if="searchResults">
                <button class="btn btn-link pl-0" v-on:click.prevent="searchList"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to results</button>
            </div>
            <h5>{{selectedSite.title}}</h5>
            <div v-if="selectedSite.digital_object.length" class="pin-place-thumbnail clearfix">
                <div v-if="selectedSite.digital_object[0].file" class="thumbnail-bg" v-bind:style="{ backgroundImage: 'url(' + selectedSite.digital_object[0].file + ')' }"></div>
                <div v-else class="thumbnail-bg" v-bind:style="{ backgroundImage: 'url(' + selectedSite.digital_object[0].source_url + ')' }"></div>
            </div>
            <div class="pin-place-content mt-2" v-if="selectedSite.empty && readonly === 'false'">
                <p class="my-0">Can you add more detail to this location?</p>
                <div class="row mt-4 mt-md-3">
                    <div class="col">
                        <button class="w-100 btn btn-sm btn-secondary" v-on:click.stop.prevent="clearSelectedSite">
                            Later
                        </button>
                    </div>
                    <div class="col">
                        <a :href="'/edit/' + selectedSite.id + '/'"
                            class="w-100 btn btn-sm btn-secondary">
                            Add Details
                        </a>
                    </div>
                </div>
            </div>
            <div v-else class="pin-place-content mt-2">
                <dl class="pin-detail-tags d-flex flex-row mb-2" v-if="selectedSite.category.length > 0">
                  <dt class="mr-1 mb-0" v-if="selectedSite.category.length > 1">Categories:</dt>
                  <dt class="mr-1 mb-0" v-else>Category:</dt>
                  <dd class="mb-0">
                    <template v-for="(c, index) in selectedSite.category">
                    {{ c.name }}<template v-if="index + 1 < selectedSite.category.length">, </template>
                    </template>
                  </dd>
                </dl>

                <dl class="pin-detail-tags d-flex flex-row mb-0" v-if="selectedSite.tags">
                  <dt class="mr-1">Tags:</dt>
                  <dd class="mb-0">{{selectedSite.tags}}</dd>
                </dl>
                <div class="row mt-4 mt-md-3">
                    <div class="col">
                        <a :href="'/view/' + selectedSite.id + '/'"
                            class="w-100 btn btn-sm btn-secondary">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="searchResults" class="pin-place-detail search-results">
            <div v-if="searchResults.length === 0">
                <h5 class="pt-3 pr-3 pl-3 pb-2">No Sites of Teaching &amp; Learning Found</h5>
            </div>
            <div v-else>
                <ul class="list-group" :style="'height:' + searchResultHeight + 'px;'">
                    <li v-for="site in searchResults" class="list-group-item">
                        <h6>
                            <a href="#" v-on:click="searchDetail(site.id)"><img :src="site.iconUrl" :alt="site.title"/> {{site.title}}</a>
                            <a class="float-right" target="_blank" :href="'/view/' + site.id + '/'"><i class="fa fa-share" aria-hidden="true"></i></a>
                        </h6>

                        <dl class="pin-detail-tags d-flex flex-row mb-2" v-if="site.category.length > 0">
                            <dt class="mr-1 mb-0" v-if="site.category.length > 1">Categories:</dt>
                            <dt class="mr-1 mb-0" v-else>Category:</dt>
                            <dd class="mb-0">
                                <template v-for="(c, index) in site.category">
                                    {{ c.name }}<template v-if="index + 1 < site.category.length">, </template>
                                </template>
                            </dd>
                        </dl>

                        <dl class="pin-detail-tags d-flex flex-row mb-0" v-if="site.tags">
                            <dt class="mr-1">Tags:</dt>
                            <dd class="mb-0">{{site.tags}}</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div v-else-if="newPin" class="pin-place-detail">
            <p>{{searchTerm}}</p>
            <form>
                <div class="form-group">
                    <label for="title">Give this location a name:</label>
                    <input v-model="newTitle" class="form-control form-control-sm" type="text">
                </div>
                <div class="row">
                    <div class="col">
                        <button class="w-100 btn btn-sm btn-secondary"
                            v-on:click.stop.prevent="clearNewPin">Cancel</button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-sm btn-secondary"
                            v-on:click.stop.prevent="savePin">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <ul style="display: none"><li v-for="site in sites">{{site.id}}</li></ul>
    </div>
</script>
{% endverbatim %}