{% verbatim %}
<script type="text/x-template" id="google-map-template">
    <div>
        <div class="address-bar">
            <div class="input-group">
                <input type="text" v-model="address"
                    class="form-control form-control w-25"
                    placeholder="Search place or location"
                    aria-label="Search place or location" aria-describedby="basic-addon2"
                    v-on:keydown.enter.prevent="geocode">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button"
                        v-on:click="geocode"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="overlay-picker">
            <div class="btn-group" role="group">
            <button id="overlays" type="button" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-clock-o" aria-hidden="true"></i> {{year}}
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#" data-id="864" v-on:click="changeOverlay">1885</a>
                <a class="dropdown-item" href="#" data-id="1090" v-on:click="changeOverlay">1891</a>
                <a class="dropdown-item" href="#" data-id="871" v-on:click="changeOverlay">1911</a>
                <a class="dropdown-item" href="#" data-id="862" v-on:click="changeOverlay">1916</a>
                <a class="dropdown-item" href="#" data-id="1453" v-on:click="changeOverlay">1956</a>
                <a class="dropdown-item" href="#" data-id="Present" v-on:click="changeOverlay">Present</a>
                <hr class="mb-2" />
                <p class="text-muted text-center small mb-0">Please be patient as <br /> map tiles load.</p>
            </div>
            </div>
        </div>
        <div class="google-map" :id="mapName"></div>
        <div v-if="newPin" class="pin-place-detail">
           <div class="pin-place-header d-flex justify-content-between">
                <h5>Location Selected</h5>
                <button type="button" class="close align-self-baseline" aria-label="Close" v-on:click.stop.prevent="clearNewPin"><span aria-hidden="true">×</span></button>
            </div>
            <p>{{address}}</p>
            <form>
                <div class="form-group">
                    <label for="title">Give this location a name:</label>
                    <input v-model="newTitle" class="form-control form-control-sm" type="text">
                </div>
                <div class="row">
                    <div class="col">
                        <button class="w-100 btn btn-sm btn-secondary"
                            v-on:click.stop.prevent="clearNewPin">Cancel</button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-sm btn-secondary"
                            v-on:click.stop.prevent="savePin">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div v-if="selectedPlace" class="pin-place-detail">
           <div class="pin-place-header d-flex justify-content-between">
                <h5>{{selectedPlace.title}}</h5>
                <button type="button" class="close align-self-baseline" aria-label="Close" v-on:click.stop.prevent="clearSelectedPlace"><span aria-hidden="true">×</span></button>
            </div>
            <div v-if="selectedPlace.digital_object.length" class="pin-place-thumbnail clearfix">
                <div v-if="selectedPlace.digital_object[0].file" class="thumbnail-bg" v-bind:style="{ backgroundImage: 'url(' + selectedPlace.digital_object[0].file + ')' }"></div>
                <div v-else class="thumbnail-bg" v-bind:style="{ backgroundImage: 'url(' + selectedPlace.digital_object[0].source_url + ')' }"></div>
            </div>
            <div class="pin-place-content mt-2" v-if="selectedPlace.empty && readonly === 'false'">
                <p class="my-0">Can you add more detail to this location?</p>
                <div class="row mt-4 mt-md-3">
                    <div class="col">
                        <button class="w-100 btn btn-sm btn-secondary" v-on:click.stop.prevent="clearSelectedPlace">
                            Later
                        </button>
                    </div>
                    <div class="col">
                        <a :href="'/edit/' + selectedPlace.id + '/'"
                            class="w-100 btn btn-sm btn-secondary">
                            Add Details
                        </a>
                    </div>
                </div>
            </div>
            <div v-else class="pin-place-content mt-2">
                <dl class="pin-detail-tags d-flex flex-row mb-2" v-if="selectedPlace.category.length > 0">
                  <dt class="mr-1 mb-0" v-if="selectedPlace.category.length > 1">Categories:</dt>
                  <dt class="mr-1 mb-0" v-else>Category:</dt>
                  <dd class="mb-0">
                    <template v-for="(c, index) in selectedPlace.category">
                    {{ c.name }}<template v-if="index + 1 < selectedPlace.category.length">, </template>
                    </template>
                  </dd>
                </dl>

                <dl class="pin-detail-tags d-flex flex-row mb-0" v-if="selectedPlace.tags">
                  <dt class="mr-1">Tags:</dt>
                  <dd class="mb-0">{{selectedPlace.tags}}</dd>
                </dl>
                <div class="row mt-4 mt-md-3">
                    <div class="col">
                        <a :href="'/view/' + selectedPlace.id + '/'"
                            class="w-100 btn btn-sm btn-secondary">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <ul><li v-for="place in places">{{place.title}}</li></ul>
    </div>
</script>
{% endverbatim %}